.personalIcon {
  display: flex;
  align-items: center;
}

.infoBox {
  padding-left: 20px;
  border-radius: 20px;
  background: rgba(252, 252, 252, 0.397);
  font-size: 20px;
  max-width: 300px;
}

.username {
  text-align: left;
}

.name {
  padding-left: 10px;
  font-size: 30px;
  font-weight: 800;
  -webkit-text-stroke: 1px white;
}

.icon {
  padding-left: 30px;
}
