.container {
  width: 80%;
}

.member {
  display: flex;
  align-items: center;
  margin: 0px;
  flex-direction: row;
}

ul {
  list-style: none; /* Remove bullet points */
  margin: 0px;
  border: 2px dotted white;
  padding: 10px 40px 10px 10px;
}

@media (max-width: 700px) {
  .icon div {
    transform: scale(70%);
  }

  .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
  }

  ul {
    padding: 0 40px 0 0;
  }
}
