.tableButton {
  width: 10%; /* Adjust the button width as needed */
  height: 80px; /* Adjust the button height as needed */
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
}

.dayHeader {
  background-color: transparent;
  color: white;
  border: 0px;
  width: 10%; /* Adjust the button width as needed */
  height: 40px; /* Adjust the button height as needed */
  font-size: 20px; /* Adjust font size as needed */
}

.monthLabel {
  font-size: 16px;
  position: absolute;
  margin-top: -30px;
  margin-left: -35px;
  color: rgb(230, 110, 11);
}
