.tableButton {
  width: 11%; /* Adjust the button width as needed */
  height: 90px; /* Adjust the button height as needed */
  font-size: 20px; /* Adjust font size as needed */
  font-weight: bold;
  position: relative;
  /* new */
  /*   */
  /* color: #fff; */
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dayHeader {
  background-color: transparent;
  color: white;
  border: 0px;
  width: 11%; /* Adjust the button width as needed */
  height: 40px; /* Adjust the button height as needed */
  font-size: 25px; /* Adjust font size as needed */
  font-weight: bold;
  margin-top: 25px;
}

.monthLabel {
  font-size: 16px;
  position: absolute;
  top: -20px; /* Adjust the distance from the button */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  color: rgb(230, 110, 11);
}

.attendees {
  font-size: 12px;
  color: black;
  position: absolute;
  bottom: -10px; /* Adjust the distance from the button */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

/* Styling for the button */
.tableButton-container {
  position: relative;
}

.tableButton:hover {
  background-color: #2980b9;
}

/* Styling for the tooltip */
.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  top: 60px; /* Adjust the distance from the button */
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
  display: none;
  z-index: 1;
}
.tipTitle {
  margin: 0px;
}

.tableButton-container:hover .tooltip {
  display: block;
}

.list {
  padding: 0px;
}

.attendee {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
