.container {
  display: flex;
  align-items: center;
}

.col1 {
  margin: 20px;
  min-width: 20%;
}
.col2 {
  margin: 20px;
  min-width: 50%;
}
.col3 {
  margin: 20px;
  min-width: 20%;
}

.box {
  width: 80%;
}
