.name,
.title {
  margin: 15px 10px;
  width: 35%;
  max-width: 300px;
  font-size: 1rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.icon {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  border: 5px solid rgb(32, 32, 32);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.iconBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.selectors {
  display: flex;
  flex-direction: column;
}

.selectors button {
  border: 1px white groove;
  border-radius: 5px;
  background-color: transparent;
  font-size: 20px;
  font-weight: bolder;
  color: rgb(252, 6, 6);
}

.selectors button:hover {
  background-color: white;
}

.selectors button:active {
  background-color: black;
}

button {
  margin: 10px;
}

@media (max-width: 600px) {
  .name,
  .title {
    font-size: 1rem;
    width: 46%;
    margin: 5px;
  }
}
