.title {
  font-size: 2rem;
  margin: auto;
}

.headers,
.rows {
  white-space: nowrap;
}

.tableButton,
.dayHeader {
  width: 2.5vw;
  max-width: 40px;
  height: 5vh;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 0;
  margin: 10px;
}

.dayHeader {
  border: 0;
  background-color: transparent;
}

.table {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.container {
  background-color: azure;
  border: 3px solid rgb(28, 116, 218);
  border-radius: 10px;
  padding: 10px 0px;
  color: rgb(230, 110, 11);
  margin: 0 30px;
  padding: 10px;
  font-size: 20px;
  max-width: 450px;
}

.monthLabel {
  font-size: 12px;
  position: absolute;
  color: rgb(230, 110, 11);
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}

/* Media query for phones, tabs (<1200px width) */
@media (max-width: 1200px) {
  .tableButton,
  .dayHeader {
    height: 5vh;
    width: 9vw;
    font-size: 1rem;
    margin: 5px;
  }

  .title {
    font-size: 1.3rem;
  }
}
