.big-green-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4caf50;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 2rem;
  font-weight: 550;
  text-align: center;
  transition: background-color 0.3s ease; /* Smooth color transition on hover */
  margin-top: 20px;
}

.big-green-button:hover {
  background-color: #45a049;
}

.link {
  color: #fff;
  text-decoration: none;
}

.link:hover {
  color: rgb(131, 1, 182);
}

@media (max-width: 720px) {
  .big-green-button {
    font-size: 1.3rem;
  }
}
