.MLbutton {
  display: inline-block;
  padding: 10px 50px;
  background-color: #1e45af;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 550;
  text-align: center;
  transition: background-color 0.3s ease;
}

.MLbutton:hover {
  background-color: rgb(29, 61, 167);
}

.link:hover {
  color: rgb(255, 145, 0);
}

.link {
  color: #fff;
  text-decoration: none;
}
